{% extends "films_polls/base.html"%}

{% block content %}

    <div class="header-title"><h1>Загрузить Новый фильм</h1></div>
	<hr>
	<br>
	{% if mistake %}
	<div class="alert alert-danger" role="alert">
	<strong>Ошибка! </strong>{{mistake}}
    <br>
    {{ form.errors }}
	</div>
    {% endif %}
	{% if success%}
    <div class="alert alert-success" role="alert">
	<strong>Поздравляем!</strong> Фильм успешно добавлен!
	</div>
    {% endif %}
	<form class="form-horizontal" method = "POST" action="{% url 'add_film' %} " id="register" enctype="multipart/form-data">
		{% csrf_token %}
        <div class="form-group">
            <label for="title" class="col-sm-4 control-label">Название</label>
            <div class="col-sm-5">
                {{form.title}}
            </div>
        </div>
        <div class="form-group">
            <label for="about" class="col-sm-4 control-label">О фильме</label>
            <div class="col-sm-5">
                {{form.about}}
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputFile" class="col-sm-4 control-label">Фото</label>
            <div class="col-sm-5">
                {{ form.photo }}
                <p class="help-block">Выберите фотообложку для фильма.</p>
            </div>
        </div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-5">
				<button type="submit" class="btn btn-primary">Загрузить</button>
			</div>
		</div>
	</form>

{% endblock %}