{% load static%}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FilmsPolls - сайт диванных кинокритиков</title>
    <link href="{% static "films_polls/css/base.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "films_polls/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">

    <link href="{% static "films_polls/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <script src="{% static "films_polls/js/ie-emulation-modes-warning.js" %}"></script>
    <script src="{% static "films_polls/js/jquery.min.js" %}"></script>

      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <link href="{% static "films_polls/css/carousel.css" %}" rel="stylesheet">
  </head>
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">FilmsPolls</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'index' %}">Главная</a></li>

                {% if request.session.id %}

                <li><a href="{% url 'add_film' %}">Добавить новый фильм</a></li>
                <li><a href="{% url 'users' %}">Пользователи</a></li>

                <li><a href="{% url 'logout' %}">Выход</a></li>
                <li><p class="profile-name">{{request.session.first_name}}  {{request.session.last_name}} {{request.session.email}}</p></li>
                {% else %}
                <li><a href="{% url 'signup' %}">Регистрация</a></li>
                <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}




                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>

    {% block carusel %}
    {% endblock %}
    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
        {% block content %}
        {% endblock %}


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <hr>
      <footer>
        <p class="pull-right"><a href="#">Наверх</a></p>
        <p>&copy; 2017 sfilatov96, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "films_polls/js/bootstrap.min.js"%}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static "films_polls/js/holder.min.js"%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "films_polls/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script type="text/javascript" src="{% static "films_polls/js/jquery.leanModal.min.js"%}"></script>
  </body>
</html>
