<!-- START THE FEATURETTES -->
{% extends "films_polls/base.html" %}
{% block content %}
<hr class="featurette-divider">

<div class="row featurette">
    {% if film %}
    <div class="col-md-5">
        <img class="featurette-image img-rounded center-block shadow" src="{{MEDIA_URL}}{{film.photo}}" height="400px"
             width="400px" alt="Generic placeholder image">
    </div>
    <div class="col-md-7">


        <h2 class="">{{film.title}} <br>
            <small class="text-muted">Опубликовано {{film.pub_date}}</small>
        </h2>
        <p class="lead">{{film.text}}</p>
        <div id="prevote-div">
            <div id="vote-div">
                {% if is_voted %}
                {% for i in all_votes %}
                <label for="progress"> {{i.mark}} балл(ов)</label>
                <div class="progress" id="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{i.percent}}" aria-valuemin="0"
                         aria-valuemax="100" style="min-width: 2em; width: {{i.percent}}%;"> {{i.mark__count}} голосов
                    </div>
                </div>

                {% endfor %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Итого:</h3>
                    </div>
                    <div class="panel-body">
                        Средний балл: {{avg_vote.mark__avg}} Количество голосов: {{count_vote}}
                    </div>
                </div>
                {% else %}
                <label for="vote-form">Оцените фильм по 10-тибальной шкале:</label>
                <form id="vote-form" method="POST">
                    {% csrf_token %}
                    {% for f in vote_form.vote %}
                    <label class="radio-inline">
                        {{f}}
                    </label>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary vote-button">Голосовать</button>
                </form>
                {% endif %}
            </div>
        </div>

    </div>

    <script>
        jQuery(document).ready(function ($) {
    $('#vote-form').submit(function (event) {
            console.log(vote);
            event.preventDefault();
            var o=document.getElementsByName('vote');
            var vote;
            for (var i=0; i<o.length; i++) {
                if (o[i].checked) {
                     vote = o[i].value;
                };
            };

            $.ajax({
                url: "{% url 'vote' %}{{film.id}}",
                type: "POST",
                dataType:"html",
                data: {
                    "vote": vote,
                    "csrfmiddlewaretoken": $('#vote-form input[name=csrfmiddlewaretoken]').val()
                },
                success: function(html){
                 $("#prevote-div").load("{%url 'film' %}{{film.id}} #vote-div");
            }
            });

        })
        $('#comment-form').submit(function (event) {
            event.preventDefault();
            comment = $("textarea[name='comment']").val()
            console.log(comment);
            $.ajax({
                url: "{% url 'add_comment' %}{{film.id}}",
                type: "POST",
                dataType:"html",
                data: {
                    "comment": comment,
                    "csrfmiddlewaretoken": $('#comment-form input[name=csrfmiddlewaretoken]').val()
                },
                success: function(html){
                    $("textarea[name='comment']").val("");
                }
            });

        })



        setInterval(function(){
            $("#comment-div").load("{%url 'film' %}{{film.id}} #precomment-div");
        },1000);
        });

        function remove(Element){
            var comment_id = Element.getAttribute("data-id");
            var link = "{% url 'remove_comment' %}"+comment_id
            console.log(link)
            $.ajax({
                url: link,
                type: "POST",
                dataType:"html",
                data: {
                    "remove": true,
                    "csrfmiddlewaretoken": $('#comment-form input[name=csrfmiddlewaretoken]').val()
                },
                success: function(html){
                    console.log(Element)
                }
            });

        }

    </script>
</div>


<div id="comment-div" class="row">

    <div id="precomment-div">
        <h2>Комментарии({{comments|length}}):</h2>
        {% for c in comments%}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><a href="{% url 'users_films' %}{{c.user_id}}">Пользователь: {{c.user.user.first_name}}
                    {{c.user.user.last_name}} {{c.user.patronyc}} </a><i>{{c.pub_date}}</i></h3>
                {% if user.is_superuser %}
                <button data-id="{{c.id}}" class="remove btn btn-danger" onclick="return remove(this);">Удалить комментарий</button>
                {% endif %}
            </div>
            <div class="panel-body">
                {{c.text}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% if user.is_authenticated %}
<form class="form-horizontal" id="comment-form">
    {% csrf_token %}
    <div class="form-group">
        <label for="about" class="col-sm-4 control-label">Ваш комментарий:</label>
        <div class="col-sm-5">
            {{comment_form.comment}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-5">
            <button type="submit" class="btn btn-primary">Ответить</button>
        </div>
    </div>
</form>
{% endif %}
{% else %}
<center><h2>Фильм не найден или был удалён!</h2></center>
{% endif %}
{% endblock %}
