{% extends "films_polls/base.html" %}
{% load static %}


{% block carusel %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active carusel-img ">
            <img class="carusel-img first-slide" src="{% static "films_polls/img/carusel_pic.jpg"%}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    {% if not request.session.id %}
                    <h1>Добро пожаловать на сайт кинокритиков!</h1>
                    <p>Если вы читаете эту надпись то вы обязаны зарегистрироваться на нашем сайте, чтобы не обидеть
                        автора!</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'signup' %}" role="button">Зарегистрироваться</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="item">
            <img class="first-slide" src="{% static "films_polls/img/carusel_pic4.jpg"%}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    {% if not request.session.id %}
                    <h1>Однако</h1>
                    <p>Если вы являетесь пользователем сайта, то немедленно войдите и оставьте новую оценку!</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}" role="button">Войти</a></p>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
{% endblock %}

{% block content %}
<div class="btn-group" class="sorter">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        Сортировать по <span class="caret"></span>
    </button>
    <ul class="dropdown-menu " id="sorting-menu">
        <li class="sorting-point"><a href="{% url 'index' %}?order=alphabet" class="order">Алфавиту</a></li>
        <li class="sorting-point"><a href="{% url 'index' %}?order=date" class="order">Дате публикации</a></li>
        <li class="sorting-point"><a href="{% url 'index' %}?order=rating" class="order">Рейтингу</a></li>
        <li class="sorting-point"><a href="{% url 'index' %}?order=popularity" class="order">Популярности</a></li>
        {% csrf_token %}
    </ul>
</div>
<div id="container">
    {% if films %}
    {% for i in films %}
    <div class="row film-row">
        {% for j in i%}
        <div class="col-lg-4">
            <img class="img-circle" src="{% get_media_prefix %}{{j.photo}}" alt="Generic placeholder image" width="200"
                 height="200">
            <h2>{{j.title}} </h2>
            <h4>{{j.text}}</h4>
            <p><b>Количество голосов: {{j.cnt}}</b></p>
            <p><i>Опубликовано: {{j.pub_date}}</i></p>

            <p><a class="btn btn-default" href="{% url 'film' %}{{j.id}}" role="button">Подробнее&raquo;</a></p>

            {% if request.session.is_superuser %}

            <p>
                <button class="btn btn-danger remove" data-id="{% url 'index' %}{{j.id}}"
                        onclick="return remove(this);">Удалить
                </button>
            </p>
            <p>
                <button class="btn btn-warning update" data-id="{% url 'index' %}{{j.id}}" data-title="{{j.title}}"
                        data-text="{{j.text}}" data-img="{% get_media_prefix %}{{j.photo}}"
                        onclick="return update(this);">Изменить
                </button>
            </p>

            {% endif %}

        </div><!-- /.col-lg-4 -->
        {% endfor%}
    </div><!-- /.row -->
    {% endfor %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Изменить фильм</h4>
                </div>
                <div class="modal-body">
                    <center><img class="img-rounded" alt="Generic placeholder image" width="200" height="200"></center>
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Название:</label>
                            <input type="text" class="form-control" id="recipient-name" required>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">О фильме</label>
                            <textarea class="form-control" id="message-text" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default close-button" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary change-film-button">Изменить</button>
                </div>
            </div>
        </div>
    </div>


    {% else %}
    <center><h2>Фильмов пока нет</h2></center>
    {% endif %}
</div>
<script>
        $('body').off('.data-api')
        $('.order').click(function (event) {
            event.preventDefault();
            var link = event.target.href;

            $(".sorting-point").removeClass("active");
            event.target.parentNode.className += "  active"
            console.log(event.target.parentNode)
            $.ajax({
                url: link,
                success: function(){
                 $("#container").load(link + " #container");
            }
            });

        })
        function remove(Element) {
            var link = Element.getAttribute("data-id")
            $.ajax({
                type: "POST",
                url: link,
                dataType:"html",
                data: {
                "remove":true,
                "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()},
                success: function(){
                 $("#container").load(link + " #container");
            }
            });

        }

        function update(Element) {
            var title = Element.getAttribute("data-title")
            var text = Element.getAttribute("data-text")
            var img = Element.getAttribute("data-img")
            var link = Element.getAttribute("data-id")
            $('#exampleModal').modal('show');

            $('#exampleModal').find('.modal-body input').val(title)
            $('#exampleModal').find('.modal-body #message-text').val(text)
            $('#exampleModal').find('.modal-body img').attr("src",img)
            console.log(img);


            var link = Element.getAttribute("data-id")
            $(".change-film-button").click(function (event) {
            $('#exampleModal').modal('hide');
                    $.ajax({
                        type: "POST",
                        url: link,
                        dataType:"html",
                        data: {
                        "update":true,
                        "csrfmiddlewaretoken":$('input[name=csrfmiddlewaretoken]').val(),
                        "title":$('#exampleModal').find('.modal-body input').val(),
                        "text":$('#exampleModal').find('.modal-body #message-text').val()},
                        success: function(){
                            setTimeout(function(){
                                $("#container").load(link + " #container");
                            },200)

                        }
                    });
            });

        }






</script>

{% endblock %}