{% extends "films_polls/base.html"%}

{% block content %}

    <div class="header-title"><h1>Авторизация</h1></div>
	<hr>
	<br>
	{% if signup %}
	<div class="alert alert-success" role="alert">
	<strong>Вы почти у цели! </strong> Осталось только ввести email и пароль!
	</div>
	{%endif%}
	{% if mistake %}
	<div class="alert alert-danger" role="alert">
	<strong>Ошибка! </strong>{{mistake}}
	</div>
	{%endif%}
	{% if is_login %}
	<div class="alert alert-danger" role="alert">
	<strong>Ошибка! </strong>{{is_login}}
	</div>
	{%else%}
	<form class="form-horizontal" method = "POST" action="{% url 'login' %} " id="register" >
		{% csrf_token %}
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-5">
				{{ form.username }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label">Пароль</label>
            <div class="col-sm-5">
				{{ form.password }}
            </div>
        </div>
				{{ form.redirect_to }}
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-5">
				<button type="submit" class="btn btn-primary">Войти</button>
			</div>
		</div>
	</form>
	{% endif %}

{% endblock %}