{% extends "films_polls/base.html" %}
{% block content %}
<h2 class="header-title">Пользователи</h2>
<div class="pretable">
<table class="table table table-condensed">
    {% csrf_token %}
    <tr>
        <td><b>Фамилия</b></td>
        <td><b>Имя</b></td>
        <td><b>Отчество</b></td>
        <td><b>E-mail</b></td>
        <td><b>Оценки:</b></td>
        <td><b>Статус</b></td>
        {% if user.is_superuser %}
        <td><b>Удалить</b></td>
        {% endif%}
    </tr>
    {% for u in users %}
    <tr>

        <td>{{u.user.first_name}}</td>
        <td>{{u.user.last_name}}</td>
        <td>{{u.patronyc}}</td>
        <td>{{u.user.email}}</td>
        <td><a href="{% url 'users_films' %}{{u.id}}">ссылка</a></td>
        {% if u.user.is_superuser %}
        <td>Администратор</td>
        {% else %}
        <td>Пользователь</td>
        {% endif %}
        {% if user.is_superuser  %}
        {% if not u.user.is_superuser %}
        <td><button class="btn btn-danger" data-id="{% url 'users' %}{{u.id}}" onclick="return remove(this);">Удалить пользователя</button></td>
        {% else %}
        <td>Запрещено</td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
<script>
function remove(Element) {
        var link = Element.getAttribute("data-id")
        $.ajax({
            type: "POST",
            url: link,
            dataType:"html",
            data: {
            "remove":true,
            "csrfmiddlewaretoken": $('input[name=csrfmiddlewaretoken]').val()},
            success: function(){
             $(".pretable").load({% url 'users' %} + " table");
        }
        });

    }
</script>
{% endblock %}