{% extends "films_polls/base.html" %}
{% block content %}

{% if user %}
<div class="header-title"><h2>Фильмы, за которые проголосовал <b>{{user.firstname}} {{user.lastname}} {{user.patronyc}}</b></h2></div>
    {% if users %}
    {% for u in users %}
            <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-thumbnail center-block" src="{{MEDIA_URL}}{{u.photo}}" width="400px" height="400px" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="">{{u.title}} <br><small class="text-muted">Опубликовано {{u.pub_date}}</small></h2>
          <p>{{u.text}}</p>
            <b class="lead">Оценка пользователя: {{u.mark}} балл(ов)</b>



        </div>
      </div>

    {% endfor %}
    {% else %}
        <h2>К сожалению пока пользователь не выставлял никаких баллов</h2>
    {% endif %}
{% else %}
    <hr class="featurette-divider">
    <h2>К сожалению пока пользователь не выставлял никаких баллов</h2>
{% endif %}

{% endblock %}